{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_page.css')}}">
{% endblock head %}

{% block title%}Узнать место{% endblock %}

{% block content%}
  <div class="form">
    <h2>Введите снилс</h2>

    <form action="" method="post">
      {{ form.csrf_token() }}
  
      {{ form.snils() }}
      
      {% for err in form.snils.errors %}
          {{ err }}
      {% endfor %}
  
      <input class="btn btn-outline-primary" type="submit" value="Искать">
      
    </form>

    <div class="safeText">
      <p>Сайт не сохраняет ваши личные данные! <br>
      Вся информация о абитуриентов взята с сайта <a href="https://abitstat.kantiana.ru">abitstat.kantiana.ru</a></p>
    </div>

  </div>
{% endblock %}