{% extends 'base.html' %}

{% block title %}Ваше место{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='mesta.css')}}">
{% endblock head %}

{% block content %}
<div class=data>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название специальности</th>
        <th scope="col">Место</th>
        <th scope="col">Кол-во согласий</th>
        <th scope="col">Место среди согласий</th>
        <th scope="col">Низший балл согласия</th>
      </tr>
    </thead>

    <tbody>
    {% for napr in mesta %}
      {% if napr.your_sogl %}
      <tr class="table-primary">
      {% else %}
      <tr>
      {% endif %}
        <th scope="row">{{napr.napr_id}}</th>
        <td><a href="https://abitstat.kantiana.ru/rating/bak/{{ napr.napr_id }}{{ napr.napr_name }}" target="_blanke">{{ napr.napr_name }}</a></td>
        <td>{{ napr.abit_mesto }}</td>
        <td>{{ napr.sogl_num }}</td>
        {% if napr.sogl_mesto != -1 %}
        <td>{{ napr.sogl_mesto }}</td>
        {% else %} 
        <td></td>
        {% endif %}
        <td>{{ napr.lowest_sogl }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
  <a href="{{ url_for('index') }}">Go Back</a>
</div>
{% endblock content %}
